// Virgo Link Stylesheet
// ================================================================================================

// [*] Table of Contents
// ------------------------------------------------------------------------------------------------
// [1] Globals
// ================================================================================================

:root {
	--link-color: var(--color-primary-40);
}

// [1] Globals
// ------------------------------------------------------------------------------------------------
a {
	color: var(--link-color);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		opacity: 0.75;
	}
}