// Virgo List Stylesheet
// ================================================================================================

// [*] Table of Contents
// ------------------------------------------------------------------------------------------------
// [1] Globals
// [2] Unordered List
// [3] Ordered List
// [4] Utilities
// ================================================================================================

// [1] Globals
// ------------------------------------------------------------------------------------------------
ul, ol {
	margin: 0 0 1em;
	padding-left: 1em;

	li {
		margin-bottom: 0.5em;
		line-height: 1.25;
	}
}

// [2] Unordered List
// ------------------------------------------------------------------------------------------------
ul {

	li {
		list-style: disc outside none;
	}

} // ul

// [3] Ordered List
// ------------------------------------------------------------------------------------------------
ol {

	li {
		list-style: decimal inside none;
	}

} // ul